.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; Adjust the gap between elements */
    height: 200px; /* Set a fixed height for the footer */
    margin-top: auto; /* Align footer to the bottom of the page */
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo img {
    margin-top: 170px;
    width: 200px;
    height: 200px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style-type: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
    border: 1px black bold;

}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-icons-container img {
    width: 40px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media screen and (max-width: 768px) {
    .footer {
        /* Adjust height, padding, or margins as needed */
        height: auto; /* Set height to auto for smaller screens */
        padding: 20px;
    }

    .footer-logo img {
        width: 150px; /* Reduce logo size for smaller screens */
        height: 150px;
    }

    .footer-links {
        /* gap: 30px; Adjust gap between links */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        gap: 20px;
    }

    .footer-links li {
        font-size: 16px; /* Reduce font size for links */
    }

    /* Additional adjustments for other elements as needed */
}